

.navbar1 {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:100; /*WIDOCZNOŚĆ WARSTWOWA*/
  }
  
  /* Links inside the navbar */
  .navbar1 a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  .navbar1 b {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      margin-left: 2%;
    }
  
  /* Change background on mouse-over */
  .navbar1 a:hover {
    background: #ddd;
    color: black;
  }
  .footer1 {
	position:absolute;
	width: 100%;
	height: 250px;
	background-color: #333;
	color: white;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
.bottom-marg1{
    margin-bottom: 60px;
    
}