body {
background-color: #fff;
margin: 0;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}

div{
background: #fff;
}

#navigation {
float: center;
width: 100%;
}
#content {
float: center;
width: 100%;
}




/* The navigation bar */
.navbar1 {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:100; /*WIDOCZNOŚĆ WARSTWOWA*/
}

/* Links inside the navbar */
.navbar1 a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.navbar1 b {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 2%;
  }

/* Change background on mouse-over */
.navbar1 a:hover {
  background: #ddd;
  color: black;
}
.footer1 {
	position:absolute;
	width: 100%;
	height: 250px;
	background-color: #333;
	color: white;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.strgl{
	text-align: right;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	padding-right: 10px;
}
.txtimg1{
    position: absolute;
    background:  rgba(0, 0, 0, 0);
    width: 98%;
    padding: 1%;
    text-align: center;
	margin-top: 15%;
    font-size: 50px;
    color: rgb(43, 121, 223);      
	text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: auto;
}
.box-1 {
	width:100%;
	display: flex;
	height: auto;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-2 {
	width:100%;
	display: flex;
	height: auto;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	background: #f8f9fa;
}
.box-3 {
	width:100%;
	height: 350px;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	background: #b3ecff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-4 {
	width:75%;
	height: 400px;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	background: #b3ecff;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-menu{
	width:100%;
	height: 52.4px;
}
.box-g1{
	width: 100%;
	height: 300px;
}
.box-kont1{
	width: 100%;
	height: 220px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #f8f9fa;
}
.box-kont2{
	width: 100%;
	height: 700px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #f8f9fa;
}
.box-kont3{
	width: 330px;
	height: 360px;
	margin-left: 50px;
	text-align: center;
	background-color: #333;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-kont-center{
	width: 100%;
	height: auto;
}
.box-i1 {
	width:25%;
	height: 400px;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	background: #b3ecff;
	display: block;
}
.box-i2 {
	width:25%;
	height: 400px;
	overflow-y: hidden;	/*przycina obrazek do wielkości diva*/
	background: #b3ecff;
	display: block;
	left: 50%;
}
.box-txt1{
	width:75%;
	background: #f8f9fa;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 60px;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	height: auto;
	margin-bottom: 60px;
}
.img {
	width:100%;
	height: auto; 
}
.div-1{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.div-2{
	background: #808080;
}
.boxes-g {
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 100%;
}
  
.box-g {
	align-items: center;
	border: 2px solid rgb(0, 0, 0);
	display: flex;
	height: 280px;
	justify-content: center;
	text-align: center;  
}
  
.box-g--margin {
	margin-block-start: var(--margin);
		position: relative;
}
  
.box-g--vertical {
	writing-mode: vertical-lr;
}
.body1-g{
padding: 3rem;
--margin: 30px;
}
.img-g1{
	object-fit: cover;
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 40px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	object-fit: cover;
	
}
.ch-img-1 { 
	background-image: url(/tv1.png);
}

.ch-img-2 { 
	background-image: url(../images/2.jpg);
	
}

.ch-img-3 { 
	background-image: url(../images/3.jpg);
}
.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
.sg-1{
	padding-right: 10px;
	padding-top: 2px;
}
.box-k1 {
	width: 40%;
	height: 200px;
	background: orange;
	border-radius: 2px;
	padding: 10px;
	color: white;
	text-align: center;
  }
  
  .a-k1 {
	margin: 120vh auto 0 auto;
  }
  
  .b-k1 {
	margin: 40vh auto 0 auto;
  }
  .txt-kont1{
	color: black;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 50px;
  }





  .box-kont4{
	width: 40%;
	height: 700px;
	display:flex;
	align-items:center;
	position: relative;
	background-color: #f8f9fa;
	float: left;
}
.box-kont5{
	width: 60%;
	height: 700px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #f8f9fa;
	float: right;
}
.box-kont-mapa{
	width: 800px;
	height: 500px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #f8f9fa;
	border: 5px solid #000;
}

.row1{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #f8f9fa;
}
.col-31{
	flex-basis: 25%;
	min-width: 250px;
	margin-bottom: 95px;
	height: 195px;

}
.col-31 img{
	width:  100%;
}
.small-container1{
	max-width:  1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #f8f9fa;
}

.testimonial1{
	padding-top: 100px;
	background-color: #f8f9fa;
}
.testimonial1 .col-31{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition:  transform 0.5;
}
.testimonial1 .col-31 img{
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial1 .col-31:hover{
	transform: translateY(-10px);
}

.txt-col1{
	color: black;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
  }
.box-index-find{
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.txt-index-find{
	color: #fff;
	text-decoration: none;
	height: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
	background-color: #7c7673;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.box-oferta1{
	color:black;
	width: 100%;
	height: auto;
	display: flex;
	background-color: #f8f9fa;
	text-align: center;
	justify-content: center;
	font-family: 'Open Sans Condensed', sans-serif;
}
.box-oferta-title{
	color:black;
	width: 100%;
	height: auto;
	display: flex;
	background-color: #f8f9fa;
	text-align: center;
	justify-content: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	padding-top: 180px;
	padding-bottom: 50px;
}